html {
    font-size: 1.85rem; /* Default font size */
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.gray {
    color: #797979;
}


html {
    scroll-behavior: smooth;
}

* {
    transition-duration: .3s;
    box-sizing: border-box;

    font-family: Inter, sans-serif;
}

p {
    font-family: Inter, sans-serif;
}

::selection {
    background-color: #ffd36b; /* Yellow color */
    color: white; /* Optional: Set the text color */
}

section {
    padding: 0 5rem;
    width: 100%;
    height: 100vh;

    position: relative;
}

.first-vector {
    position: absolute;
    top: 0;
    left: -70%;
    z-index: -1;
}

.second-vector {
    position: absolute;
    bottom: 0;
    right: -70%;
    z-index: -1;
}

.no-top-margin {
    margin-top: 0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 0.4rem 1rem;

    background: #FFC740;

    border-radius: .3rem;

    color: black;

    font-size: 0.9rem;
}

.button:hover {
    background: #ff9900;
}

a:hover {
    color: #ff9900;

    cursor: pointer;
}

li:hover {
    color: #ff9900;

    cursor: pointer;
}

.button img {
    width: 0.8rem;
    height: 0.8rem;
}

h1, h2 {
    font-family: "Benzin", sans-serif;
    font-weight: 700;

    font-size: 2.5rem;
    line-height: 100%;
}

h3 {
    line-height: 100%;
    font-weight: bold;
    font-size: 1.3rem;
}

p {
    line-height: 100%;
    font-size: 0.9rem;
    font-weight: 100;
}

.header {
    position: fixed;
    width: 100%;

    z-index: 100;

    background: rgba(255, 255, 255, 0.64);

    backdrop-filter: blur(50px); /* Cool blur effect */
    -webkit-backdrop-filter: blur(15px); /* Safari support */
}

.header__body {
    display: flex;

    width: 100%;

    padding: 1rem 5rem;
    justify-content: space-between;
}

.header__logo {
    width: 3.5rem;

    cursor: pointer;
}

.header__right {
    display: flex;
    gap: 5rem;

    justify-content: center;
    align-items: center;
}

.header__ul {
    display: flex;
    gap: 1.5rem;

    font-size: 0.8rem;
}

.first__section {
    padding-top: 3rem;
    height: 90vh;
}

.first {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;

    position: relative;
}

.first__left {
    width: 20rem;
    position: relative;
}

.first__arrow {
    position: absolute;
    height: 15rem;

    left: -3rem;
    top: 1.8rem;
}

.first__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.first__title {
    position: relative;
}

.first__glyph {
    width: 10rem;
    position: absolute;
    bottom: -1rem;
}

.first__right {
    position: absolute;
    width: 36rem;

    right: 0;
}

.second__content {
    height: 70vh;
}

.second__left {
    width: 28rem;
}

.second__content {
    z-index: 5;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.second__title {
    width: 40rem;
}

.second__right {
    width: 23rem;

    position: absolute;
    right: 0;
    top: 17%;
}

.third__section {
    height: 100vh;
}

.third {
    position: relative;
}

.third__phone {
    position: absolute;
    left: 0;

    width: 30%;

    object-fit: cover; /* Crop and scale the video */
    transform-origin: center; /* Center the zoom effect */
}

.third__right {
    position: absolute;
    right: 0;

    width: 70%;

    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.third__img {
    position: absolute;
}

.third1 {
    width: 8rem;
    right: -5rem;
}

.third2 {
    width: 8rem;
    bottom: 11rem;
    left: -3rem;
}

.third3 {
    width: 10rem;
    right: -2rem;
    bottom: 0;
}

.third_p {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.third__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth__section {
    height: 120vh;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 2rem;
    text-align: center;

    width: 70%;
}


.fourth__steps {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: .5rem;
}

.fourth__step {
    display: flex;
    justify-content: space-between;
    align-items: start;
    text-align: start;
    flex-direction: column;

    padding: 2rem 1.5rem;

    border-radius: 2rem;

    height: 19rem;

    position: relative;

    width: 13rem;
}

.fourth__step p {
    z-index: 2;
}

.fourth1 {
    background: #FFF1CF;
}

.fourth2 {
    background: #FFDD8B;
}

.fourth3 {
    background: #FFC740;
}

.fourth__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    position: absolute;
    bottom: 5.5rem;
}

.fourth__img img {
    width: 8rem;
    right: 0;
}

.fourth__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 1rem;
}

.fifth__section {
    height: 100vh;
}

.fifth {
    display: flex;
    justify-content: start;
    align-items: center;

    position: relative;
}

.fifth__left {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;

    height: 24rem;
}

.fifth__top {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

    gap: 3rem;
    position: relative;
}

.fifth__left p {
    width: 27rem;
}

.fifth__left h2 {
    width: 40rem;
}

.fifth__right {
    width: 25rem;
    position: absolute;
    right: 0;
}

.fifth__arrow {
    width: 13rem;
    position: absolute;
    bottom: -60%;
    right: 15rem;
}

.sixth__section {
    height: auto;
    min-height: 120vh;
    padding-bottom: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sixth {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.sixth__container {
    width: 70%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: 2rem;
}

.sixth__top {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 2rem;
}

.sixth__contacts {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr;
    gap: 10px;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
}

.sixth__cell {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    background: #F4F4F4;
    border-radius: 2rem;
    padding: .3rem 1rem;
    height: 100%;
}

.sixth__cell img {
    width: 8rem;
}

.sixth__cell p {
    font-size: 1rem;
}

.sixth__cell.yellow {
    background: #FFC740;
}

.sixth__cell.yellow.padding{
    padding: 2rem;
    text-align: start;
    align-items: start;
    justify-content: start;

    position: relative;

    height: 100%;
    width: 100%;
}

.sixth__cell.yellow.padding p {
    width: 10rem;
}

.sixth__cell.yellow.padding img {
    position: absolute;

    right: -1rem;
    top: 0;
    width: 11rem;
}

.sixth__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

.sixth__reviews {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: stretch;
    align-items: stretch;
    gap: 1rem;
    width: 100%;
}

.review {
    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: start;

    gap: 1rem;

    background: #FFF1CF;

    padding: 1.5rem;

    border-radius: 2rem;

    width: 15rem;

    height: 17rem;
}

.review__top {
    display: flex;
    justify-content: start;
    align-items: start;

    width: 100%;
    gap: .5rem;
}

.review__left {
    display: flex;
    justify-content: start;
    align-items: start;
}

.review__left img{
    width: 2rem;
}

.review__right {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;

    gap: .2rem;
}

.review__rate {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: .3rem;
}

.review__p {
    width: 8rem;
}

.seventh__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seventh {
    height: 30rem;

    background: black;

    border-radius: 2rem;

    color: white;
    display: flex;
    justify-content: start;
    align-items: center;

    position: relative;

    padding: 2.5rem 4rem;
}

.seventh__left {
    display: flex;

    justify-content: start;
    align-items: start;

    flex-direction: column;

    width: 55%;
    height: 100%;

    gap: 6rem;
}

.seventh__top {
    display: flex;
    justify-content: center;
    align-content: center;

    flex-direction: column;

    gap: 1rem;

    position: relative;
}

.seventh__arrow {
    width: 15rem;

    position: absolute;

    bottom: -5rem;
    right: 6rem;
}

.seventh__right {
    position: absolute;
    width: 28rem;

    right: 0;
}

footer {
    display: flex;
    justify-content: start;


    flex-direction: column;

    background: black;

    padding: 1rem 5rem;

    color: white;

    gap: 3rem;

    height: 15rem;
}

.footer__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    width: 6rem;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 25rem;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer__left {
    text-align: start;
}

.footer__right {
    text-align: end;
}


/* Large screens */
@media (max-width: 1800px) {
    html {
        font-size: 1.4rem; /* Adjust for medium-large screens */
    }
}


@media (max-width: 1550px) {
    html {
        font-size: 1.2rem; /* Adjust for medium-large screens */
    }
}


@media (max-width: 1300px) {
    html {
        font-size: 1rem; /* Adjust for medium-large screens */
    }
}

@media (max-width: 1100px) {
    .third1 {
        display: none;
    }

    .third2 {
        display: none;
    }

    .third3 {
        display: none;
    }

    html {
        font-size: 1.3rem; /* Adjust for medium-large screens */
    }
    section {
        height: 110vh;
    }
    h2 {
        font-size: 2rem;
    }

    .header__body {
        padding: 1rem 2rem;
    }

    .header__nav {
        display: none;
    }

    .footer__links {
        display: none;
    }

    section {
        padding: 0 2rem;
    }

    .first {
        justify-content: center;
    }

    .first__right {
        width: 10rem;
        top: 17rem;
        right: 3rem;
    }

    .second__left {
        width: 100%;
    }

    .second__title {
        width: 100%;
    }

    .second__right {
        width: 10rem;

        top: auto;
        bottom: 20%;
    }

    .third__section {
        height: 200vh;
    }

    .third {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        gap: 5rem;
    }

    .third__phone {
        position: static;
        width: 25rem;
    }

    .third__right {
        position: static;

        gap: 1rem;

        width: 100%;
    }

    .third1 {
        right: 1.3rem;
        width: 6rem;
    }

    .third2 {
        left: 1rem;
        width: 5rem;
    }

    .third3 {
        width: 8rem;
    }

    .fourth__section {
        height: 260vh;
    }

    .fourth__steps {
        flex-direction: column;
        gap: .5rem;
    }

    .fifth__left {
        gap: 3rem;
        height: auto;
    }

    .fifth__arrow {
        display: none;
    }

    .fifth__left h2 {
        width: 100%;
    }

    .fifth__left p {
        width: 100%;
    }

    .fifth__right {
        width: 8rem;
        top: 12rem;
        right: 0;
    }

    .fifth__section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .sixth__container {
        width: 100%;
    }

    .sixth__section {
        height: 170vh;
    }

    .sixth__reviews {
        flex-direction: column;

        width: 100%
    }

    .review {
        width: 100%;
        height: auto;
    }

    .review__p {
        width: 100%;
    }

    .seventh {
        flex-direction: column;
        height: auto;
    }

    .seventh__arrow {
        display: none;
    }

    .seventh__left {
        width: 100%;
    }

    .seventh__right {
        width: 6rem;
        right: 5rem;
        bottom: 5rem;
    }


    .sixth__cell.yellow.padding img {
        width: 7rem;
        top: auto;

        bottom: 0;
    }
}


/* Tablets and small laptops */
@media (max-width: 768px) {

    footer {
        padding: 1rem 2rem;
    }

    .footer__logo {
        width: 4rem;
    }

    html {
        font-size: 1.3rem;
    }

    .first__right {
        display: none;
    }

    .fifth__left {
        width: 100%;
    }

    .second__right {
        display: none;
    }

    .fifth__right {
        display: none;
    }

    .sixth__section {
        height: auto;
        min-height: 60rem;
    }

    .sixth__contacts {
        display: -ms-grid;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        -webkit-align-items: center;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .sixth__cell {
        border-radius: 1rem;
    }

    .sixth__cell.yellow.padding {
        padding: 1rem;

        grid-column: span 2;

        
    }

    .sixth__cell.sixth4 {
        display: none;
    }

    .sixth__cell.sixth5 {
        display: none;
    }


    .sixth6 {
        display: none;
    }

    .seventh {
        border-radius: 1rem;
        padding: 1.5rem;

        text-align: center;    
    }

    .seventh__left {
        gap: 3rem;
    }

    .seventh__left button {
        width: 100%;
    }


    .seventh__right {
        padding-top: 1rem;
        position: static;

        display: none;
    }
}

@media (max-width: 580px) {

    .button {
        border-radius: .6rem;
        padding: .8rem 2rem;
    }

    footer {
        height: 100%;
    }

    footer p {
        font-size: 1rem;
    }

    footer button.button {
        padding: .5rem 1rem;
        font-size: 1rem;

        border-radius: .5rem;
    }

    .first {
        justify-content: start;
    
    }

    html {
        font-size: 0.75rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.7rem;
    }

    .fourth__step p {
        font-size: 1.7rem;
    }

    .button {
        font-size: 1.7rem;
    }

    .first__section {
        height: 100vh;
    }

    .first__arrow {
        display: none;
    }

    .second__section {
        height: 50rem;
    }

    .second__content {
        justify-content: center;
    }

    .third__section {
        height: 80rem;
    }

    .fourth__section {
        height: 160rem;
    }

    .fourth__container {
        width: 100%;
    }

    .fourth__steps {
        width: 90%;
    }

    .fourth__img{
        width: 100%;
        position: static;
    }

    .fourth__img img {
        width: 20rem;
    }

    .fourth__steps {
        gap: 3rem;
    }

    .fourth__step {
        width: 100%;
        height: 100%;
        border-radius: 5rem;

        padding: 4rem;

        gap: 2rem;
    }

    .fourth__step h3 {
        font-size: 2.5rem;
    }

    .fifth__section {
        height: 60rem;
    }

    
    .sixth__section {
        height: 160rem;
    }

    .sixth__cell {
        padding: .5rem;

        border-radius: 3rem;
    }

    .sixth__cell p {
        font-size: 2rem;
    }

    .sixth__cell.yellow.padding {
        padding: 2rem 2rem;
        border-radius: 3.5rem;
    }

    .sixth__cell.yellow.padding img {
        width: 15rem;
        bottom: -2rem;
    }


    .sixth__cell.sixth1 {
        border-radius: 4rem;
    }

    .sixth__cell.sixth1 img {
        width: 30rem;
    }

    .sixth__cell.sixth2 {
        border-radius: 4rem;
    }

    .sixth__cell.sixth2 img {
        width: 30rem;
    }

    .sixth__cell.yellow.padding p {
        width: 80%;
    }

    .sixth__contacts {
        gap: 2rem;
    }

    .sixth__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        gap: 2rem;
    }

    

    .seventh__section {
        height: 40rem;
        padding: 0;
        justify-content: end;
    }

    .seventh {
        border-top-left-radius: 3.5rem;
        border-top-right-radius: 3.5rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: 4rem 2rem;
    }

    section {
        height: 60vh;
    }

    .sixth__reviews {
        gap: 2rem;

        padding: 0 4rem;
    }

    .review {
        border-radius: 4rem;

        padding: 2rem 3rem;

        gap: 2rem;

        height: 30rem;
    }

    .review__left img {
        width: 4rem;
    }

    .review__right h3 {
        font-size: 2.5rem;
    }
}

@media (max-width: 420px) {
    html {
        font-size: .7rem;
    }
}

@media (max-width: 380px) {
    html {
        font-size: .6rem;
    }

    .sixth__reviews {
        padding: 0 2rem;
    }
}